@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*="_icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"]:before {
  display: block;
}

._icon-heart:before {
  content: "\e901";
}

._icon-interest:before {
  content: "\e902";
}

._icon-like:before {
  content: "\e903";
}

._icon-rectangle:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
  max-width: 88.125rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.2142857143;
  background: #f53b49;
  border-radius: 4px;
  min-height: 3.0625rem;
  padding: 0.75rem 1.25rem 0.8125rem 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  position: relative;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.card_red .button {
  background-color: #909cb5;
}

.button::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 12px;
  width: 24px;
  height: 24px;
  background: url("../img/shop.svg") 0 0 no-repeat;
}

.button._fw {
  width: 100%;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0.3125rem;
  font-size: 16px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating:not(:last-child) {
  margin-bottom: 1rem;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #909cb5;
  margin-right: 0.375rem;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #f99808;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  visibility: hidden;
}

[class*="-ibg"] {
  position: relative;
}

[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*="-ibg_contain"] img {
  -o-object-fit: contain;
  object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  background-color: #e5e5e5;
}

.main {
  padding: 6.25rem 0;
}

.main__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 110%;
  color: #1a1a25;
}

.main__title:not(:last-child) {
  margin-bottom: 2rem;
}

.main__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
}

@supports (gap: clamp(1.25rem, 1.0714285714rem + 0.8928571429vw, 1.875rem)) {
  .main__wrapper {
    gap: clamp(1.25rem, 1.0714285714rem + 0.8928571429vw, 1.875rem);
  }
}

@supports not (gap: clamp(1.25rem, 1.0714285714rem + 0.8928571429vw, 1.875rem)) {
  .main__wrapper {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 70);
  }
}

.card {
  position: relative;
  border-radius: 0.375rem;
  overflow: hidden;
  color: #1a1a25;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (row-gap: clamp(0.625rem, 0.4464285714rem + 0.8928571429vw, 1.25rem)) {
  .card {
    row-gap: clamp(0.625rem, 0.4464285714rem + 0.8928571429vw, 1.25rem);
  }
}

@supports not (row-gap: clamp(0.625rem, 0.4464285714rem + 0.8928571429vw, 1.25rem)) {
  .card {
    row-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 70);
  }
}

.card__image-ibg {
  overflow: hidden;
  padding-bottom: 100%;
}

.card__image-ibg img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.card_red .card__image-ibg {
  opacity: 0.6;
}

.card__body {
  padding: 1.25rem 1.25rem 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.card__title {
  font-weight: 400;
  line-height: 150%;
  display: block;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem)) {
  .card__title {
    font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem);
  }
}

@supports not (font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem)) {
  .card__title {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 70);
  }
}

.card__title:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  padding: 0 1.25rem 1.625rem 1.25rem;
}

.card__price {
  font-weight: 700;
  line-height: 1.4117647059;
}

@supports (font-size: clamp(1rem, 0.9821428571rem + 0.0892857143vw, 1.0625rem)) {
  .card__price {
    font-size: clamp(1rem, 0.9821428571rem + 0.0892857143vw, 1.0625rem);
  }
}

@supports not (font-size: clamp(1rem, 0.9821428571rem + 0.0892857143vw, 1.0625rem)) {
  .card__price {
    font-size: calc(1rem + 0.0625 * (100vw - 20rem) / 70);
  }
}

.card__price-old {
  font-weight: 400;
  line-height: 1.375;
  color: #858fa4;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

@supports (font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem)) {
  .card__price-old {
    font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem);
  }
}

@supports not (font-size: clamp(0.875rem, 0.8392857143rem + 0.1785714286vw, 1rem)) {
  .card__price-old {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 70);
  }
}

.quantity {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.quantity:not(:last-child) {
  margin-bottom: 0.5rem;
}

.quantity__title {
  color: #2fc509;
}

.quantity__title:not(:last-child) {
  margin-right: 0.375rem;
}

.card_red .quantity__title {
  color: #f53b49;
}

.card_yellow .quantity__title {
  color: #f99808;
}

.quantity__points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.quantity__points:not(:last-child) {
  margin-right: 0.5rem;
}

.quantity__point {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2fc509;
}

.quantity__point:not(:last-child) {
  margin-right: 2px;
}

.card_yellow .quantity__point {
  background-color: #f99808;
}

.card_red .quantity__point {
  background-color: #f53b49;
}

.quantity__point-border {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #2fc509;
}

.quantity__point-border:not(:last-child) {
  margin-right: 2px;
}

.quantity_yellow .quantity__point-border {
  border: 1px solid #f99808;
}

.card_red .quantity__point-border {
  border: 1px solid #f53b49;
}

.quantity__info {
  color: #4b7ee8;
}

.decor {
  position: absolute;
  z-index: 10;
  top: 22px;
  left: 0;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card_red .decor {
  opacity: 0.6;
}

.decor__body {
  padding: 0 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
}

.decor__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0.9375rem;
}

.decor__icon {
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.decor__icon::before {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #858fa4;
}

.decor__icon:not(:last-child) {
  margin-right: 0.5rem;
}

.decor__item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.25rem;
  flex: 0 0 2.25rem;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: margin-left 0.3s ease 0s;
  -o-transition: margin-left 0.3s ease 0s;
  transition: margin-left 0.3s ease 0s;
}

.decor__item::before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  color: #fff;
}

.decor__item:not(:first-child) {
  margin-left: -10px;
}

.decor__item_percent {
  background-color: #f53b49;
}

.decor__item_like {
  background-color: #4b7ee8;
}

.decor__item_new {
  background-color: #2fc509;
  font-weight: 900;
  font-size: 8px;
  line-height: 10px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@media (min-width: 47.99875em) {
  .card__prices {
    margin-right: 2.875rem;
  }
}

@media (min-width: 61.99875em) {
  .main__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  }
}

@media (max-width: 61.99875em) {
  .button {
    width: 100%;
    padding: 0.75rem 1.25rem 0.8125rem 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .card__prices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 0.3125rem;
    -moz-column-gap: 0.3125rem;
    column-gap: 0.3125rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #e32a38;
  }

  .card_red .button:hover {
    background-color: #8893a9;
  }

  .card:hover {
    -webkit-box-shadow: 0px 4px 20px #1a1a25;
    box-shadow: 0px 4px 20px #1a1a25;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  .card:hover .card__image-ibg img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .card:hover .decor__item {
    margin-left: 5px;
  }

  .card__title:hover {
    color: #4b7ee8;
  }

  .decor__icon:hover::before {
    color: #f99808;
  }

  .decor__item:hover::before {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .decor__item_new:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
